$content-h1-fz: 30px
$content-h1-lh: 35px
$content-h2-fz: 28px
$content-h2-lh: 32px
$content-h3-fz: 26px
$content-h3-lh: 30px
$content-h4-fz: 24px
$content-h4-lh: 30px
$content-h5-fz: 20px
$content-h5-lh: 25px
$content-h6-fz: 15px
$content-h6-lh: 20px

.content,
#content
    font-size: $default-font-size
    line-height: $default-line-height
    word-break: break-word 
    color: $text-clr
    +breakpoint-max(767)
        font-size: 14px
        line-height: 19px
    h1, h2, h3, h4, h5, h6 
        margin-bottom: $default-line-height
        text-transform: uppercase 
        color: #fff
    h1    
        font-size: $content-h1-fz
        line-height: $content-h1-lh
    h2        
        font-size: $content-h2-fz
        line-height: $content-h2-lh
    h3        
        font-size: $content-h3-fz
        line-height: $content-h3-lh
    h4
        font-size: $content-h4-fz
        line-height: $content-h4-lh
    h5        
        font-size: $content-h5-fz
        line-height: $content-h5-lh
    h6        
        font-size: $content-h6-fz
        line-height: $content-h6-lh

    hr
        border: 0
        height: 2px
        margin-bottom: $default-line-height
    
    p, ul, ol, dl
        color: $text-clr
    p
        margin-bottom: $default-line-height
        +breakpoint-max(767)
            margin-bottom: 20px

    ul
        list-style: disc inside
        margin-left: $default-line-height
        margin-bottom: $default-line-height
    ol
        list-style: decimal inside
        margin-left: $default-line-height
        margin-bottom: $default-line-height
    i, 
    em
        font-style: italic
    strong, 
    b
        font-weight: bold
    blockquote
        p
            text-align: left
    sup, sub
        font-size: 75%
        line-height: 0
        position: relative
        vertical-align: baseline
    sup
        top: -0.5em
    sub
        bottom: -0.25em
    a
        color: blue
        text-decoration: none
        &:hover
            text-decoration: underline
    table
        width: 100%  
        +breakpoint-max(767)
            display: block
    td, th
        +breakpoint-max(767)
            display: block
            text-align: right
            overflow: hidden
            &:before
                content: attr(data-label)
                font-weight: 700
                margin-right: 20px
                width: 100px
                text-align: left
                float: left
    th
        font-weight: 700
        +breakpoint-max(767)
            display: none
            
    tr
        +breakpoint-max(767)
            display: block
    .hidden
        +breakpoint-max(767)
            display: none
    img
        max-width: 100%
        height: auto
    dl
        margin-bottom: $default-line-height
    dt 
        font-weight: 700
    dd
        margin-bottom: $default-line-height



