html
    -webkit-text-size-adjust: 100%

body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

input,
button,
textarea
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    margin: 0
    padding: 0
    outline: none
    border: 1px solid black
    box-shadow: none
    border-radius: 0
    &:focus
        outline: none
input
    background: transparent
    border: none
    outline: none
    &:invalid
        box-shadow: none
    &[type="number"]
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button
            -webkit-appearance: none
            opacity: .5
    &[type="search"]
        -webkit-appearance: none
        border-radius: 0

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button, 
        &::-webkit-search-results-decoration
            display: none
        &::-ms-clear
            display: none
a
    color: inherit
    text-decoration: none

img
    width: auto
    max-width: 100%
    height: auto

i,em
    font-style: italic
b,strong
    font-weight: 700
table
    word-break: normal

::-moz-focus-inner
    border: 0
    padding: 0
 