@keyframes spinner-timer
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.spinner-timer
    width: 40px
    height: 40px
    border-radius: 50%
    border: 4px solid
    position: relative
    box-sizing: border-box
    color: cyan
    &:before,
    &:after
        content: ''
        display: block
        position: absolute
        height: 0
        left: 50%
        top: 50%
        border: 2px solid
        margin-top: -2px
        margin-left: -2px
        box-sizing: border-box
        border-radius: 2px
        transform-origin: 2px, 2px
    &:before
        width: 50%
        animation: spinner-timer 1s linear 0s infinite
        transform: rotate(-90deg)
    &:after
        width: 40%
        animation: spinner-timer 10s linear 0s infinite