$default-shortcode-margin: 30px

.content
    .alignnone
        margin: 0

    .aligncenter
        display: block
        margin: 5px auto

    .alignright
        float: right
        margin: 5px 0 $default-shortcode-margin $default-shortcode-margin

    .alignleft
        float: left
        margin: 5px $default-shortcode-margin $default-shortcode-margin 0

    .wp-caption-text
        padding-top: 10px
        width: 100%

    .wp-caption
        max-width: 100%
        margin-bottom: $default-shortcode-margin
        img
            display: block
            height: auto
            width: 100%
            max-width: 100%
            margin: 0
            padding: 0
            border: 0
            
        .wp-caption-dt
            display: block
                            
        .wp-caption-text,
        .wp-caption-dd
            padding-top: 10px
            color: #000
            font-size: 16px
            line-height: 22px
            +breakpoint-max(767)
                font-size: 14px
                line-height: 19px