@import constants/list
@import helpers/list
@import components/list


body
	background-color: #fff
#login
	h1 a
		// background-image: image-url("logo.png")
		-webkit-background-size: 175px
		background-size: 175px
		width: 175px
		height: 30px
	form
		border: 1px solid  #ccc
	label
		color: #000
		font-size: 13px
		text-transform: uppercase
		letter-spacing: 1px
		font-family: "Open Sans"
	.forgetmenot label
		font-size: 11px
	.button
		font-family: "Open Sans"
		text-transform: uppercase
		font-weight: 700
	#backtoblog a,
	#nav a
		font-family: "Open Sans"
		font-size: 13px
		letter-spacing: 0.5px
		color: #000