@media print
    body
        background: none !important 
        color: #111 !important
        font-family: helvetica, arial, sans-serif !important
        font-size: 14px !important
        line-height: 1.2em !important
        text-align: left !important
        h1, h2, h3, h4, h5, h6
            color: #000 !important
        h1
            font-size: 1.5em !important
            line-height: 1.6em !important
        h2
            font-size: 1.4em !important
            line-height: 1.5em !important
        h3
            font-size: 1.3em !important
            line-height: 1.4em !important
        h4
            font-size: 1.2em !important
            line-height: 1.3em !important
        h5
            font-size: 1em !important
            line-height: 1.1em !important
        h6
            font-size: .8em !important
            line-height: 1em !important
        p, a, span, i, b, strong, em
            margin: 0 !important
            padding: 0 !important
            color: inherit !important
            font-size: inherit !important
            line-height: 1.2em !important
        p
            margin-bottom: 1.4em !important
            display: block !important
        a
            color: inherit !important
            display: inline !important
            text-decoration: underline !important
        i, em
            font-style: italic !important
        b, strong
            font-weight: 700 !important
