#css-breakpoint-holder
    font-family: 'break_3'
    +breakpoint-max(1023)
        font-family: 'break_2'
    +breakpoint-max(767)
        font-family: 'break_1'
head
    position: relative  

body
    font-weight: normal
    color: $text-clr
    position: absolute
    top: 0
    bottom: 0 
    left: 0
    right: 0
    min-width: 320px
    background-color: $body-clr
    font-size: $default-font-size
    line-height: $default-line-height
    word-break: break-word 
    +breakpoint-max(1023)
        font-size: $tablet-font-size
        line-height: $tablet-line-height
    +breakpoint-max(767)
        font-size: $mobile-font-size
        line-height: $mobile-line-height
          
        

.global-wrapper
    min-width: 320px
    box-sizing: border-box
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    transition: 0.5s left ease       
    &.check
        position: relative
        height: auto

.wrapper,
#content
    max-width: $wrapper-outer
    margin: 0 auto
    padding-left: $wrapper-padding
    padding-right: $wrapper-padding
    box-sizing: border-box
    +breakpoint-max(767)
        padding-left: $wrapper-padding-mobile
        padding-right: $wrapper-padding-mobile

#content
    padding-top: 40px
    padding-bottom: 40px
    +breakpoint-max(767)
        padding-top: 20px
        padding-bottom: 20px


.thumbnail-container
    display: block
    img
        display: block
        margin: auto










